{% extends 'base.html.j2' %}

{% block title %}
PokeSearch Homepage
{% endblock %}

{% block content %}
<h4>Welcome to PokeSearch!</h4>
<p>Click "Pokemon" in the navigation bar to go to the search menu.</p>
{% endblock %}